services:
  jekyll:
    image: jekyll/jekyll:4.2.2
    command: jekyll serve --livereload --force_polling
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_UID=1000
      - JEKYLL_GID=1000
